/* app css stylesheet */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  background-color: #030303;
  background-image: url(assets/img/background_images/cool-space-bg.jpg);
  background-size: cover;
  height: 120vh;
  /* background-image: url(assets/img/background_images/darkness.png); */
  /* transform: translateZ(-1px) scale(2); */
  transform: translateZ(-4px) scale(5);
}


html,body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/img/background_images/cool-space-bg-sliver.jpg);
  /* background-image: url(assets/img/background_images/darkness.png); */
  /* background-color: #030303; */
  background-position: top;
  /* background-size: cover; */
  color: #eee;
  font-size: 16px;
  min-height: 100%;
  transform: translate(-1);
}

.p--5rem {
  padding: .5rem;
}

.p-1rem {
  padding: 1rem;
}

.m-1rem {
  margin: 1rem;
}

.m-2rem {
  margin: 2.5rem;
}

.vert-align-middle-cell {
  float: left;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-content {
  -webkit-transition: visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;
}

.home-description {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.home-subheading {
  border-bottom: 3px solid #2e86c1;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-top: 3rem;
}

.home-description {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

/* Welcome Modal */
.welcome-modal {
  background-color: #2e86c1;
  border-radius: 5px;
  color: #eee;
  display: none;
  position: relative;
  width: 80%;
  max-width: 600px;
}

.welcome-heading {
  font-size: 1.17rem;
  margin: 1.25rem;
}

.welcome-description {
  font-family: 'Gothic A1', sans-serif;
  margin: 1rem;
}

.welcome-close {
  color: white;
  display: block;
  font-size: 30px;
  outline: none;
  position: absolute;
  right: 2px;
  top: -36px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 1000;
}

.welcome-close:hover {
  color: #bbb;
  transform: rotate(270deg);
}

/* Y-Wing */
.y-wing-bomber {
  max-width: 60%;
  position: absolute;
  right: -350px;
  top: 0;
  transition: 1.5s linear;
  z-index: 20;
}

.y-wing-bomb {
  display: none;
  position: absolute;
  right: 350px;
  top: 20px;
  transition: 1s ease-in;
  transform: rotate(90deg);
  width: 60px;
  z-index: 10;
}

.after-bomb {
  display: none;
  max-width: 200px;
  transition: .8s;
}

.taskbar {
  background:rgba(44,134,193,0.7);
  height: 100%;
  list-style-type: none;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 72px;
  z-index: 900;
}

.taskbar-icon {
  border-radius: .5rem;
  margin: .75rem;
  max-width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.taskbar-icon:hover {
  transform: translateY(-2px);
  -webkit-box-shadow:         1px 1px 9px 3px rgba(19, 19, 19, .4);
  -moz-box-shadow:         1px 1px 9px 3px rgba(19, 19, 19, .4);
  box-shadow:         1px 1px 9px 3px rgba(19, 19, 19, .4);
}

.taskbar-icon:active {
  border: 1px solid rgb(240, 220, 45);
  transform: translateY(-1px);
}

.taskbar-icon.active {
  /* border: 2px solid rgba(22, 22, 22, .6); */
  box-shadow: 1px 1px 1px 1px;
  box-shadow: -2px 2px 3px 1px rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.taskbar-icon a {
  height: 100%;
  width: 100%;
}

.taskbar-icon img {
  max-width: 100%;
}

/*
main content
*/
.main-content {
  margin: 2rem 96px 2rem 1.5rem;
}

.memey-txt {
  color: #eee;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  line-height: 3.5rem;
}
.memey-txt-hl {
  color: #e55216;
}

.spec-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.memey-code {
  color: rgba(107, 83, 175, 0.822);
  background: none;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.meme-target {
  margin: 1rem;
  max-width: 100%;
  min-width: 60%;
}

/* Page titles */
.page-title-wrapper {
  color: rgb(240, 220, 45);
  font-family: 'Roboto', sans-serif;

  font-size: 4rem;
  height: 7rem;
  margin-left: 2rem;
  -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  position: relative;
  transform: skew(-20deg);
}

.page-title {
  -webkit-animation: slidein .4s backwards;
  animation: slidein .4s backwards;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
}

@-webkit-keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.testbest-title {
  background-color: #a0aab2;
  color: #1f81c9;
}

.dept-sci-ed-title {
  background-color: #2d343b;
  color: #8f113b;
  font-size: 1.4rem;
}

.tbp-title {
  background-color: #412419;
  color: #fcc40a;
}

.contact-title {
  background-color: #bb872e;
  color: #000;
}

.github-title {
  background-color: #c34642;
  color: #000;
}

.linkedin-title {
  background-color: #0e5ea0;
  color: #fff;
}

.about-site-title {
  background-color: #8376d6;
  color: #dfdfdf;
}

.about-me-title {
  background-color: #11191f;
  color: #1ead72;
}

.bg-dark {
  background-color: rgba(22, 22, 22, 0.75);
}

.bg-blue {
  background:rgba(44,134,193,0.8);
}

.txt-light {
  color: #eee;
}

/*
  border classes
*/

/*
fade in transition
*/

.page-content {
  -webkit-animation: fadein 1.4s;
  animation: fadein 1.4s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.page-quote {
  color: #777;
  font-style: italic;
}

code {
  background-color: #222;
  border-color: #444;
  color: #dd3b83;
}
